{% extends "layout_main.html" %}

{% block title %}
	Game
{% endblock %}

{% block body %}
<div id="header" data-theme="b" data-role="header">
	<h1 id="title">Map Your City</h1>
	<p id="score" class="ui-btn-right"style="margin:7px 7px 5px 0px">Score: {{ g.player.score.score_game }}</p>
</div>
<div id="editObject" style="display: none">
	<form>
		<fieldset data-role="fieldcontain">
			<input type="hidden" name="object_id" id="object_id" value="" data-clear-btn="true" placeholder="" />
		</fieldset>
		<fieldset data-role="fieldcontain">
			<label for="object_name" >Name:</label>
			<input type="text" name="object_name" id="object_name" value="" data-clear-btn="true" placeholder="Name" />
		</fieldset>
		<fieldset data-role="fieldcontain">
			<label for="object_type" >Type:</label>
			<input type="text" name="object_type" id="object_type" value="" data-clear-btn="true" placeholder="Type" />
		</fieldset>
		<fieldset data-role="controlgroup" data-type="horizontal" id="wheelchair">
        	<legend>Wheelchair</legend>
        	<input type="radio" name="wheelchair-yes" id="wheelchair-yes" value="yes">
        	<label for="wheelchair-yes">Yes</label>
        	<input type="radio" name="wheelchair-no" id="wheelchair-no" value="no">
        	<label for="wheelchair-no">No</label>
    	</fieldset>
	    <fieldset data-role="controlgroup" data-type="horizontal" id="smoking">
        	<legend>Smoking</legend>
        	<input type="radio" name="smoking-yes" id="smoking-yes" value="yes">
        	<label for="smoking-yes">Yes</label>
        	<input type="radio" name="smoking-no" id="smoking-no" value="no">
        	<label for="smoking-no">No</label>
    	</fieldset>
	    <fieldset data-role="controlgroup" data-type="horizontal" id="vegetarian">
        	<legend>Vegetarian</legend>
        	<input type="radio" name="vegetarian-yes" id="vegetarian-yes" value="yes">
        	<label for="vegetarian-yes">Yes</label>
        	<input type="radio" name="vegetarian-no" id="vegetarian-no" value="no">
        	<label for="vegetarian-no">No</label>
    	</fieldset>
	</form>
	<button data-disabled="false" id="sendOSMDataSpFFa" class="ui-btn-hidden" type="button" data-theme="c" onclick="sendData();">Submit</button>
	<button data-disabled="false" class="ui-btn-hidden" type="reset" data-theme="c" name="reset" value="submit-value" onclick="$('#map').show(); $('#editObject').hide();">Cancel</button>
</div>
<div id="map"/>
<script>
var map={};
var userMarker;

$(function () {
	$("#map").height($('html').height()-$("#nav").height()-$("#header").height()-1);
	$("#editObject").height($('html').height()-$("#nav").height()-$("#header").height()-1);
	map = initMap();
	map.zoomIn();
	userMarker = L.marker(new L.LatLng(50.5, 30.5), { title: '{{ g.player.username }}' }).addTo(map);
	map.on('locationfound', onLocationFound);
	map.on('moveend', loadGeoobjects);
	loadGeoobjects();
	map.locate({watch: true, setView: true, maxZoom: 17, enableHighAccuracy: true});
	// remove attributes of non selected geoobject-types
});

function sendData() {
	$.getJSON('{{ url_for('verifyOsm') }}', {
		ObjectName: $('input[name="object_name"]').val(),
		ObjectId: $('input[name="object_id"]').val(),
		ObjectType: $('input[name="object_type"]').val(),
		ObjectAttrWheel: $('input[name="wheelchair"]').val(),
		ObjectAttrVeg: $('input[name="vegetarian"]').val(),
		ObjectAttrSmo: $('input[name="smoking"]').val(),
	}, 
	function(data) {
		$("#score").text("Score: "+data.result);
		//$("#score").text('Score: {{ g.player.score.score_game }}');
		$('#map').show();
		$('#editObject').hide();
	});
	return false;
}

function onLocationFound(e) {
	userMarker.setLatLng(e.latlng);
	userMarker.update();
}

function onLocationError(e) {
	alert(e.message);
}

function loadGeoobjects() {
	if (map.getZoom() < 15) { return; }
	var restaurantIcon = L.icon({
		iconUrl: '/static/images/icons/restaurant.png',
		iconSize: new L.Point(24, 24),
		iconAnchor: new L.Point(8, 8),
	});
	var barIcon = L.icon({
		iconUrl: '/static/images/icons/bar.png',
		iconSize: new L.Point(24, 24),
		iconAnchor: new L.Point(8, 8),
	});
	var bankIcon = L.icon({
		iconUrl: '/static/images/icons/bank.png',
		iconSize: new L.Point(24, 24),
		iconAnchor: new L.Point(8, 8),
	});

	if(('{{g.player.game.object_restaurant }}').toLowerCase() === 'true') {
		var overpassRestaurants = 'http://overpass-api.de/api/interpreter?data=[out:json];node(BBOX)[amenity=restaurant];out;'.replace(/(BBOX)/g, map.getBounds().toOverpassBBoxString());
	}
	if(('{{g.player.game.object_bar }}').toLowerCase() === 'true') {
		var overpassBars = 'http://overpass-api.de/api/interpreter?data=[out:json];node(BBOX)[amenity=bar];out;'.replace(/(BBOX)/g, map.getBounds().toOverpassBBoxString());
	}
	if(('{{g.player.game.object_bank }}').toLowerCase() === 'true') {
		var overpassBanks = 'http://overpass-api.de/api/interpreter?data=[out:json];node(BBOX)[amenity=bank];out;'.replace(/(BBOX)/g, map.getBounds().toOverpassBBoxString());
	}

	function bindPopupOnData(data) {		
		var lmarker = L.marker([data.lat, data.lon], {
			icon: L.icon({iconUrl: '/static/images/icons/'+data.tags.amenity+'.png', iconSize: new L.Point(16, 16), iconAnchor: new L.Point(8, 8)}),
			title: data.tags.name
			});
			//lmarker.bindPopup(fillPopup(data.tags)).addTo(map);
			lmarker.on('click',function(e) {
				if(lmarker.getLatLng().distanceTo(userMarker.getLatLng())<200) { //200 m
    				$('#map').toggle();
    				$('#editObject').toggle();
    				$('input#object_name').val(data.tags.name);
    				$('input#object_type').val(data.tags.amenity);
    				$('input#object_id').val(data.tags.id);
    				$('#smoking-yes').attr('checked',false);
    				$("#smoking-yes").checkboxradio("refresh");
    				$('#smoking-no').attr('checked',false);
    				$("#smoking-no").checkboxradio("refresh");
    				$('#vegetarian-yes').attr('checked',false);
    				$("#vegetarian-yes").checkboxradio("refresh");
    				$('#vegetarian-no').attr('checked',false);
    				$("#vegetarian-no").checkboxradio("refresh");
    				$('#wheelchair-yes').attr('checked',false);
    				$("#wheelchair-yes").checkboxradio("refresh");
    				$('#wheelchair-no').attr('checked',false);
    				$("#wheelchair-no").checkboxradio("refresh");
   					if(data.tags.amenity === 'restaurant') {
						$('#smoking').show();
						$('#vegetarian').show();
						$('#wheelchair').show();
					}
   					if(data.tags.amenity === 'bar') {
						$('#smoking').show();
						$('#vegetarian').hide();
						$('#wheelchair').show();
					}
   					if(data.tags.amenity === 'bank') {
						$('#smoking').hide();
						$('#vegetarian').hide();
						$('#wheelchair').show();
					}
    			} else { lmarker.bindPopup("Too far away").openPopup(); 
    		}
		});
		if(lmarker.getLatLng().distanceTo(userMarker.getLatLng())<1000) {lmarker.addTo(map); }
	}

	function nodeFunction(data) {
		if (! data.tags || ! data.tags.amenity ) return;
		bindPopupOnData(data);
	}

	function handleNodeWayRelations(data) {
		parseOverpassJSON(data, nodeFunction);
	}

	if(('{{g.player.game.object_restaurant }}').toLowerCase() === 'true') {
		$.getJSON(overpassRestaurants, handleNodeWayRelations);
	}
	if(('{{g.player.game.object_bar }}').toLowerCase() === 'true') {
		$.getJSON(overpassBars, handleNodeWayRelations);
	}
	if(('{{g.player.game.object_bank }}').toLowerCase() === 'true') {
		$.getJSON(overpassBanks, handleNodeWayRelations);
	}
}
$(window).resize(function(){$("#map").height($('html').height()-$("#nav").height()-$("#header").height()-1);});
</script>
	<div id="content" data-role="content"></div>
</div>
<div id="nav" data-role="navbar" data-iconpos="top">
	<ul>
		<li><a href="{{url_for('main')}}" data-transition="fade" data-theme="b" data-icon="home">Menu</a></li>
		<li><a href="{{url_for('scores')}}" data-transition="fade" data-theme="b" data-icon="star">Scores</a></li>
		<li><a href="{{url_for('player')}}" data-transition="fade" data-theme="b" data-icon="gear">Player</a></li>
		<li><a href="{{url_for('help')}}" data-transition="fade" data-theme="b" data-icon="grid">Help</a></li>
	</ul>
</div>
{% endblock %}