{% extends "layout_main.html" %}

{% block title %}
	Game
{% endblock %}

{% block body %}
<div id="header" data-theme="b" data-role="header">
	<h1>Map Your City</h1>
</div>
<div id="content" data-role="content">  
	<div data-role="collapsible" data-content-theme="b">
		<h3 data-role="button">Singleplayer</h3>
		<a href="{{url_for('setup_sp_ffa')}}" data-role="button" data-theme="a">Free For All</a>
		<a href="{{url_for('sp_motw')}}" data-role="button" data-theme="a">Mapper of the Week</a>
	</div>
	<div data-role="collapsible" data-content-theme="b">
		<h3 data-role="button">Multiplayer</a></h3>
		<a href="{{url_for('setup_mp_ffa')}}" data-role="button" data-theme="a">Free For All</a>
	</div>
	<a href="{{url_for('scores')}}" data-role="button" data-theme="e">Highscores</a>
</div>
<div id="nav" data-role="navbar" >
	<ul>
		<li><a href="{{url_for('about')}}" data-transition="fade" data-theme="b" data-icon="info">About</a></li>
		<li><a href="{{url_for('player')}}" data-transition="fade" data-theme="b" data-icon="grid">Player</a></li>
		<li><a href="{{url_for('help')}}" data-transition="fade" data-theme="b" data-icon="grid">Help</a></li>
		<li><a href="{{url_for('logout')}}" data-transition="fade" data-theme="b" data-icon="grid">Logout</a></li>
	</ul>
</div>
{% endblock %}
