{% extends "layout_main.html" %}

{% block title %}
	Game
{% endblock %}

{% block body %}
<div id="header" data-theme="b" data-role="header">
	<h1>Player: {{ g.player.username }}</h1>
</div>
<div id="content" data-role="content">  
	<table>
	</table>
	<b>E-Mail: </b> {{ g.player.email }}<br/>
	<b>Region: </b> {{ g.player.region }}<br/>
	<b>Playing since: </b> {{ g.player.created_at }}<br/>
	<b>Score: </b> {{ g.player.score }}<br/>
</div>
<div id="nav" data-role="navbar" data-iconpos="top">
	<ul>
		<li><a href="{{url_for('main')}}" data-transition="fade" data-theme="b" data-icon="home">Menu</a></li>
		<li><a href="{{url_for('help')}}" data-transition="fade" data-theme="b" data-icon="grid">Help</a></li>
	</ul>
</div>
{% endblock %}