{% extends "layout_main.html" %}

{% block title_tag %}
	Game
{% endblock %}

{% block body %}
<div id="header" data-theme="b" data-role="header">
	<h1>Player</h1>
</div>
<div id="map" height="100%"/></div> 
<div id="content" data-role="content">  
	<table>
	</table>
	<b>Name: </b> {{ playername }}<br/>
	<b>e-Mail: </b> {{ email }}<br/>
	<a href="{{ url_for('logout') }}" data-role="button">Logout</a>
</div>
<div id="nav" data-role="navbar" data-iconpos="top">
	<ul>
		<li><a href="{{url_for('game')}}" data-transition="fade" data-theme="b" data-icon="star">Game</a></li>
		<li><a href="{{url_for('show_score')}}" data-transition="fade" data-theme="b" data-icon="grid">Scores</a></li>
		<li><a href="{{url_for('show_player')}}" data-transition="fade" data-theme="b" data-icon="gear" class="ui-btn-active ui-state-persist">Player</a></li>
		<li><a href="{{url_for('show_info')}}" data-transition="fade" data-theme="b" data-icon="info">Info</a></li>
	</ul>
</div>
{% endblock %}