{% extends "layout_main.html" %}

{% block title_tag %}
	Game
{% endblock %}

{% block body %}
<div id="header" data-theme="b" data-role="header">
	<h1>Map Your City</h1>
</div>
	<div id="content" data-role="content">
		<h1>Highscore Toplist</h1>
		<table data-role="table" id="score-table" class="ui-responsive table-stroke">
  			<thead>
    			<tr>
      				<th style="padding-right:2em;" data-priority="1">Rank</th>
      				<th style="padding-right:2em;" data-priority="2">Username</th>
      				<th style="padding-right:2em;" data-priority="3">Score</th>
    			</tr>
  			</thead>
			{% for score in Scores %}
  			<tbody>
 				<tr>
      				<td><strong>{{ loop.index }}</strong></td>
      				<td>{{ score.username }}</td>
      				<td>{{ score.score_all }}</td>
    			</tr>
			</tbody>
    		{% endfor %}
		</table>
    </div> 
<div id="nav" data-role="navbar" data-iconpos="top">
	<ul>
		<li><a href="{{url_for('main')}}" data-transition="fade" data-theme="b" data-icon="grid">Menu</a></li>
		<li><a href="{{url_for('player')}}" data-transition="fade" data-theme="b" data-icon="gear">Player</a></li>
		<li><a href="{{url_for('help')}}" data-transition="fade" data-theme="b" data-icon="grid">Help</a></li>
	</ul>
</div>
{% endblock %}