{% extends "layout_main.html" %}

{% block title_tag %}
	Game
{% endblock %}

{% block body %}
<div id="header" data-theme="b" data-role="header">
	<h1>Map Your City</h1>
</div>
<div id="map" height="100%"/>
	<div id="content" data-role="content">
		<h1>Highscore Toplist</h1>
		<ul id="score">
			{% for score in Scores %}
    		<li>{{ score.username }} : {{ score.score_all }}</li>
    		{% endfor %}
    	</ul>
    </div> 
</div>
<div id="nav" data-role="navbar" data-iconpos="top">
	<ul>
		<li><a href="{{url_for('main')}}" data-transition="fade" data-theme="b" data-icon="grid">Menu</a></li>
		<li><a href="{{url_for('player')}}" data-transition="fade" data-theme="b" data-icon="gear">Player</a></li>
		<li><a href="{{url_for('help')}}" data-transition="fade" data-theme="b" data-icon="grid">Help</a></li>
	</ul>
</div>
{% endblock %}