{% extends "layout_main.html" %}

{% block title_tag %}
	Game
{% endblock %}

{% block body %}
<div id="header" data-theme="b" data-role="header">
	<h1>Highscore World</h1>
</div>
<div id="content" data-role="content">
	<label for="search-basic">Search Player</label>
	<input type="search" name="search" id="searc-player" value="" />
	<ul data-role="listview">
		{% for player in game %}
		<li><img src="images/{{player.country}}.png" alt="France" class="ui-li-icon">{{player.username}} <span>{{player.score}}</span></a></li>
		{% endfor %}
	</ul>
</div>
<div id="nav" data-role="navbar" data-iconpos="top">
	<ul>
		<li><a href="{{url_for('main')}}" data-transition="fade" data-theme="b" data-icon="star">Game</a></li>
		<li><a href="{{url_for('show_score')}}" data-transition="fade" data-theme="b" data-icon="grid">Highscores</a></li>
		<li><a href="{{url_for('show_player')}}" data-transition="fade" data-theme="b" data-icon="gear">Player</a></li>
		<li><a href="{{url_for('show_info')}}" data-transition="fade" data-theme="b" data-icon="info">Info</a></li>
	</ul>
</div>
{% endblock %}